.card{
    /* height: 22rem; */
    transition: 0.4s;
    border-radius: 7px;
}

.card:hover{
    box-shadow: 10px 10px 24px -13px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.card:hover .card-title{
    color: #102040;
}

.card-title{
    font-size: .8rem;
    font-weight: bold;
}
.social-links a {
    font-size: 15px;
    display: inline-block;
    background: #28251f;
    color: #7E7E7E;
    line-height: 1;
    padding: 9px 0;
    margin-right: 5px;
    border-radius: 100%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.4s;
}
.social-links a:hover {
    background: #7E7E7E;
    color: #fff;
}