.btn-facebook{
    background-color: #0e76a8;
    color: white;
  }
  .btn-facebook:hover{
    background-color: #0e76a8;
    color: white;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
 
  }
 
 .btn-whatsapp{
   background-color: #48c857;
   color: white;
  }
 .btn-whatsapp:hover{
   background-color: #48c857;
   color: white;
   box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
 }
 
 .btn-twitter{
   background-color: #1DA1F2;
   color: white;
 }
 .btn-twitter:hover{
   background-color: #1DA1F2;
   color: white;
   box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
 }
 